<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>ارسال ایمیل بازیابی با موفقیت انجام شد</title>
</head>
<body>
    <div class="pt-3 alert alert-secondary text-right">
        <h1 class="pt-2">گذرواژه جدید ایجاد شد.</h1>
    
        <p>گذرواژه جدیدتان تنظیم شد. اکنون میتوانید وارد وب گاه شوید.</p>
         
        <p><a href="{% url 'login'%}">ورود</a></p>
    </div>
 
</body>
</html>