

{% extends 'registration/base.html' %}


{% block title %}
{% block title_meta %}
عملیات با موفقیت انجام شد
{% endblock title_meta %}
{% endblock title %}
    

{% block main %}
    <div class="col-md-8 mx-auto text-center">
        <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title float-left">تغییر رمز عبور</h3>
                </div> 
            
            <div class="card-body">
                <p>گذرواژه با موفقیت تغییر یافت</p> 
            </div>
        </div>
     </div>
{% endblock main %}
    